html {
  font-size: 100%;
}

body {
  background-color: white;
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 36px;
  font-kerning: auto;
}

p {
  font-size: 1.0rem;
  text-align: justify;
  margin-top: 2%;
}

h1 {
  font-size: 2.5rem;
  color: white;
}

h2 {
  font-size: 2.0rem;
  font-kerning: auto;
  color: black;
  margin-top: 3%;
  margin-bottom: 0%;
  text-decoration: underline;
  text-decoration-color: black;
  text-decoration-style: solid;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  font-kerning: auto;
  color: black;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: black;
  text-decoration-style: solid;
}

@media all and (min-width: 960px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2.0rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1.0rem;
  }
}

@media all and (max-width: 959px) and (min-width: 600px) {
  h2 {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 2.0rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  p {
    font-size: .8rem;
  }
}

@media all and (max-width: 599px) and (min-width: 320px) {
  h2 {
    font-size: 1.5rem;
  }
  h1 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1rem;
  }
  p {
    font-size: .7rem;
  }
}

/* "GET TO KNOW ME" BUTTON*/

.display-about h1 {
  color: black;
}

.display-about {
  background-color: white;
  border-style: double;
  border-color: red;
  font-weight: normal;
  padding: 2% 2%;
  cursor: pointer;
  margin-bottom: 3%;
}

.display-about:hover {
  background-color: yellow;
}

.display-about:hover h1 {
  background-color: yellow;
  color: black;
  text-decoration-line: underline;
  text-decoration-style: double;
  text-decoration-color: red;
  font-style: italic;
}

/* NAVIGATION BAR TOP */

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: black;
  color: black;
  padding: 1% 0%;
  font-size: 1.1em;
  border: 0;
}

.navbar-brand {
  float: left;
  min-height: 55px;
  padding: 0px 20px;
  margin-bottom: 10px;
}

.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover, {
  color: #fff;
  background-color: black;
}

.navbar-inverse .navbar-nav li a {
  color: #BDBDBD;
}

.dropdown-menu {
  background-color: black;
  padding-left: 4%;
  /* IMAGE CAROUSEL*/
}

.carousel-caption {
  top: 40%;
  transform: translateY(-50%);
}

/* CONTENT BOX */

.container {
  margin: 8% auto;
}

.display-galery {
  background-color: red;
  width: 100%;
  height: auto;
  padding-top: 2%;
  padding-bottom: 5%;
}

.row {
  margin: 4% 4%;
}

.col-sm-4 {
  padding: 3% 3%;
}

.col-sm-6 .thumb {
  padding: 5% 10%;
  margin: 5%;
}

.col-sm-6 {
  margin: 4% auto;
}

#display {
  position: relative;
  width: 100%;
  height: auto;
}

.row-double-line {
  background-color: white;
  border-style: double;
  border-color: red;
  margin: 3% auto;
  padding: 3%;
}

.embed-responsive {
  margin-top: 5%;
  margin-bottom: 5%;
}

.text-video, {
  text-align: justify;
  margin-bottom: 3%;
}

.more {
  background-color: yellow;
  padding: 3%;
}

.copyright {
  text-align: center;
  padding-bottom: 1%;
}

/* THUMBNAILS WITH HOVER EFFECTS */

.hovereffect {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: pointer;
}

#overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.hovereffect #display {
  display: block;
  position: relative;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.hovereffect:hover #display {
  filter: brightness(60%) blur(1px);
  -webkit-filter: brightness(60%) blur(1px);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.hovereffect a.info {
  display: inline-block;
  padding: 7px 14px;
  border: 1px solid #fff;
  background-color: transparent;
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  color: #fff;
  opacity: 0;
  filter: alpha(opacity=0);
}

.hovereffect a.info:hover {
  color: yellow;
  border: 1px solid yellow;
}

.hovereffect:hover a.info {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}